<% include partials/header %>

<h1>Welcome to Miniature Cinema</h1>

<form action="/results" method="GET">
    <input type="text" name="search" placeholder="Search..." name="search" id="search">
    <input type="submit" value="Go!">
</form>

<% include partials/footer %>